@font-face {
    font-family: mikhak_v;
    src: url(../assets/fonts/Mikhak-VF.woff2) format('woff-variation'),
        url(../assets/fonts/Mikhak-VF.woff2) format('woff');


}

@font-face {
    font-family: mikhak;
    src: url(../assets/fonts/Mikhak-Medium.woff) format('woff');

}

@font-face {
    font-family: mikhak;
    src: url(../assets/fonts/Mikhak-Bold.woff) format('woff');
    font-weight: bold;

}



body {
    font-family: mikhak;
}

@supports(font-variation-settings: normal) {
    body {
        font-family: mikhak_v;
    }
}

.header {
    background-color: #CFF0FF;
    border: 3px solid #55C9FF;
    border-radius: .5rem;
    padding: 1.5rem 1rem 2rem;

    &__input {
        height: 40px !important;
        background-color: transparent;
        border: none;
        background-image: linear-gradient(to right, #3d91b8 59%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 13px 2px;
        background-repeat: repeat-x;

        &:focus {
            background-color: transparent;
            outline: none;
            border: none;
            box-shadow: none;
            background-image: linear-gradient(to right, #323da5 59%, rgba(255, 255, 255, 0) 0%);
        }
    }
}

.questions {
    border: 3px solid #55C9FF;
    border-radius: .5rem;
    padding: 0rem 1rem 2rem;
    font-weight: bold;

    &__container {
        background-image: repeating-linear-gradient(#fff, #fff 68px, #55C9FF 70px);
        min-height: 600px;
    }

    &__title {
        padding-top: 2.9rem;
        font-weight: bold;
    }

    &__case {
        border-radius: 1.875rem;
        background-color: rgba(255, 255, 255, .7);
        padding: 3.32rem .5rem;
        font-size: 1.75rem;
        font-weight: 100;
        color: #3D91B8;
        transition: all .3s;
        box-shadow: 0px 6px 4px 1px rgba(0, 0, 0, 0.1);

        &:hover {
            box-shadow: 0px 6px 4px 1px rgba(0, 0, 0, 0.3);
            cursor: pointer;
        }
    }
}