$font-family-sans-serif:      shabnam;
$font-family-monospace:       shabnam-bold;
$navbar-light-color:#1c1c1b;
$navbar-light-active-color:#1c1c1b;
$body-bg: #FFF;
$border-radius: 10px;
$border-radius-lg: 10px !default;
$border-radius-sm: .5rem !default;
$btn-border-radius:2px;
// $btn-padding-y: 1rem;
$btn-padding-x: 2rem;
$noonblack: #1c1c1b;

$img-border-radius:10px;