@tailwind base;
@tailwind components;
@tailwind utilities;

// @import '@/components/Header/header.scss';

@font-face {
  font-family: 'Estedad';
  src: url('/fonts/Estedad-FD-V.woff2');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --blue-light: 195, 239, 245;
  --blue-dark: 80, 167, 187;
  --ghalam: 69, 69, 69;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--ghalam));
  font-family: 'Estedad';
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main{
  border: 2px solid rgb(var(--blue-dark));
  border-radius: 8px;
  background-image: url('/images/main-bg.svg');
  background-size: 6px;
  min-height: 600px;
}
.estedad{
  font-family: 'Estedad';
}


.intro{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.68;
  margin-bottom: 1.5rem;
  color: rgb(var(--ghalam));
  margin-top: -5px;
}