@font-face {
    font-family: 'nastaliq';
    src: url('/fonts/IranNastaliq.woff');
}
.header{
    background-color: rgb(var(--blue-light));
    border: 2px solid rgb(var(--blue-dark));
    border-radius: 8px;
    .nastaliq{
        font-family: 'nastaliq';
        color: rgb(var(--blue-dark));
    }
    &-info{
        top: -5px;
        position: relative;
    }
    // &-label{
    //     &-box{
    //         min-width: 150px;
    //     }
    // }
}